<html>

<head></head>

<body>
    <form action="/groups" method="POST">
        <input type="text" name="groupName" placeholder="Enter group name">
        <input type="text" name="purpose" placeholder="purpose">
        <input type="text" name="header" placeholder="header">
        <button type="submit">Submit</button>
    </form>
</body>

</html>
