<html>

<head>

</head>

<body>
    <form action='/auth/local' method='post'>
        <input type="text" name="user" placeholder="Enter name">
        <input type="password" name="pwd" placeholder="Enter password">
        <button type="submit">Log In</button>
    </form>
</body>

</html>
