<html>

<head></head>

<body>
    <form action="/signup/local" method="POST">
        <input type="text" name="user" placeholder="Enterusername">
        <input type="password" name="pwd" placeholder="password">
        <input type="password" name="cpassword" placeholder="Confirm password">
        <input type="phone" name="phone">
        <button type="submit">Submit</button>
    </form>
</body>

</html>
