<html>

<head>

</head>

<body>
    <form action='/upload/profile' method='post' enctype='multipart/form-data'>
        <input type="file" name="avatar" >
        <button type="submit">Upload</button>
    </form>
</body>

</html>
